
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuario Registrar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/estilos.css">  
                        </head>

                        <body>
                            <section>
                                <div class="container bg-light">
                                    <div class="card-body">
                                        
                                        <div class="text-center mb-5">
                                            <h3 class="text-primary">Registro de Usuario</h3>
                                        </div>
                                        <div>
                                    <form class="row g-3" th:action="@{/usuario/registro}" method="POST">
                                        
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
                                            <label for="nombre" class="form-label">Apellido y Nombre</label>
                                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese Apellido y Nombre" name="nombre" th:value="${nombre}" required>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
                                            <label for="telefono" class="form-label">Telefono</label>
                                            <input type="text" class="form-control" id="telefono" placeholder="Ingrese Telefono" name="telefono" th:value="${telefono}" required>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
                                            <label for="localidad" class="form-label">Localidad</label>
                                            <select id="localidad" class="form-control" placeholder="Seleccione Localidad" name="localidad" required>
                                                <option th:if="${localidad != ''}" th:text="${localidad}" selected></option>
                                                <option th:if="${localidad == ''}" value="" selected>Seleccione Localidad</option></select>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
                                            <label for="domicilio" class="form-label">Domicilio</label>
                                            <input type="text" class="form-control" id="domicilio" placeholder="Ingrese Domicilio" name="domicilio" th:value="${domicilio}" required>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Ingrese Email" name="email" th:value="${email}" required>
                                        </div>
                                         <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                        </div>
                                        
                                        <div class="col-6 col-md-6 mb-2">
                                            <label for="contra" class="form-label">Contraseña</label>
                                            <input type="password" class="form-control" id="contra" placeholder="Ingrese Contraseña" name="password" required>
                                        </div>
                                        <div class="col-6 col-md-6 mb-4">
                                            <label for="contrase" class="form-label">Contraseña</label>
                                            <input type="password" class="form-control" id="contrase" placeholder="Repita Contraseña" name="password2" required>
                                        </div>
                                        
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4" th:if="${error != null}">
                                        <div class="card p-3 text-center border-info text-white bg-info">                        
                                            <h6 th:text="${error}"></h6>                                                                             
                                        </div>
                                        </div>  
                                         
                                         <div class="row card-body">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                                <button class="btn btn-primary" type="submit">Aceptar</button>
                                            </div>
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                                <a class="btn btn-primary" type="button" th:href= "@{/login}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                        </div>        
                                    </div>
                                </div>
                                <script>

                                const selectLocalidad = document.getElementById('localidad');

                                fetch('/municipios.json')
                                        .then(response => response.json())
                                        .then(data => {
                                            data.municipios.forEach(municipio => {
                                                
                                                const option = document.createElement('option');
                                                option.value = municipio.nombre;
                                                option.textContent = municipio.nombre;
                                                // Añade la opción al <select>
                                                selectLocalidad.appendChild(option);
                                            });
                                        });
                            </script>
                            </section>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>

