
#icono {
    color : dimgray;
    font-size: 16px;
}

#login {
    color : currentColor;
    font-size: 16px;
}

#inicio {
    color : black;
    font-size: 16px;
    background: black;
}

#cantidad {
    color: currentColor;
}

#blue {
    color: blue; 
}

#red {
    color: red; 
}

#dimagray {
    color: dimgray;
}

#green {
    color : green;
}
















     


